@page
@model GardenControl.Pages.GCRecursos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recurso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.FechaCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.Orden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.Orden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso.Leccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recurso.Leccion.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recurso?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
